/** ================= **/
/** lg : width > 1024px
/** ================= **/
@media screen and (min-width: 1024px) {
  /** faundation **/
  body {
    list-style: none;
    font-family: "Noto sans JP";
    font-weight: 600;
    font-size: 13px;
    color: #384459;
  }

  .lg_hero02-bg {
    background-image: url(./img/hero02_bg2.png);
    background-size: cover;
    background-position: center;
  }

  .list-none {
    list-style: none;
  }

  .lg-cross-size {
    width: 15px;
    height: 4px;
  }

  .lg_grid {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-rows: 80px 1fr 1fr;
    padding: 40px 0 100px;
  }

  .lg_hero01-grid {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1.2fr 1fr;
  }

  .lg_hero01-layout {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .lg_btn-layout {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .lg_hero01-2-layout {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }

  /** layout **/
  .lg_inline {
    display: inline;
  }

  .lg_flex {
    display: flex;
  }

  .lg-relative {
    position: relative;
  }

  .lg-absolute {
    position: absolute;
  }

  .lg_left--250 {
    right: -150px;
  }

  .lg_opacity {
    opacity: 0.28;
  }

  /** border **/
  .border-right {
    border-right: solid 1px #e1e1e1;
  }

  /** spacing **/
  .lg_px50 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .lg_py40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .lg_py15 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .lg_pb40 {
    padding-bottom: 40px;
  }

  .lg_ml-50 {
    margin-left: 50px;
  }

  .lg_mt-200 {
    margin-top: 200px;
  }

  .lg_mx-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .lg_gap-40 {
    gap: 40px;
  }

  .lg_width-100p {
    width: 100%;
  }

  .lg_width-580 {
    width: 580px;
  }

  .lg_width-560 {
    width: 560px;
  }

  .lg_width-400 {
    width: 400px;
  }

  .lg_width-200 {
    width: 200px;
  }

  .lg_width-80 {
    width: 80px;
  }

  .lg_width-55 {
    width: 55px;
  }

  .lg_width-32 {
    width: 32px;
  }

  .lg_height-400 {
    height: 400px;
  }

  .lg_height-5 {
    height: 5px;
  }

  /** font size **/
  .lg_text-14 {
    font-size: 14px;
  }

  .lg_text-16 {
    font-size: 16px;
  }

  .lg_text-18 {
    font-size: 18px;
  }

  .lg_text-20 {
    font-size: 20px;
  }

  .lg_text-23 {
    font-size: 23px;
  }

  .lg_text-30 {
    font-size: 30px;
  }

  .lg_text-35 {
    font-size: 35px;
  }

  .lg_polygon-size {
    width: 23px;
    height: 28px;
  }
}
