/** ================= **/
/** md : width > 768px
/** ================= **/
@media screen and (min-width: 768px) {
  .list-none {
    list-style: none;
  }

  .md_opacity {
    opacity: 0.28;
  }

  .md_opacity-4 {
    opacity: 0.4;
  }

  .md_display-none {
    display: none;
  }

  .md_block {
    display: block;
  }

  /* layout */
  .md_grid {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-rows: 50px 1fr 1fr;
    padding: 20px 0 80px;
  }

  .md_hero01-grid {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1.2fr 1fr;
  }

  .md_grid-solution1 {
    grid-template-areas:
      "a a a a a a a"
      "b b b b b b b"
      "e c d d d d f";
  }

  .md_solution-area-a {
    grid-area: a;
  }

  .md_solution-area-b {
    grid-area: b;
  }

  .md_solution-area-c {
    grid-area: c;
  }

  .md_solution-area-d {
    grid-area: d;
  }

  .md_justify-end {
    justify-self: end;
  }

  .md_hero01-layout {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .md_btn-layout {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .md_hero01-2-layout {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  .md_inline {
    display: inline;
  }

  .md_flex {
    display: flex;
  }

  .md_zindex-1 {
    z-index: 1;
  }

  .md_zindex-2 {
    z-index: 2;
  }

  /* spacing */
  .md_mt-50 {
    margin-top: 50px;
  }

  .md_mt-0 {
    margin-top: 0px;
  }

  .md_width-80p {
    width: 80%;
  }

  .md_width-70p {
    width: 70%;
  }

  .md_width-60p {
    width: 60%;
  }

  .md_width-50p {
    width: 40%;
  }

  .md_width-450 {
    width: 430px;
  }

  .md_height-450 {
    height: 450px;
  }

  .md_abt-center {
    top: 50%;
    transform: translateY(-50%);
  }

  .md_top-40 {
    top: 40px;
  }

  .md_left--150 {
    right: -150px;
  }

  .mg_pr-0 {
    padding: 0;
  }

  .md_gap-20 {
    gap: 20px;
  }

  /** border **/
  .border-right {
    border-right: solid 1px #e1e1e1;
  }

  /** font size **/
  .md_text-10 {
    font-size: 10px;
  }

  .md_bg-color-op {
    background-color: #f1f7f8;
    opacity: 0.28;
  }
}
