#headerLogo {
    position: absolute;
    width: 128px;
    height: 45.44px;
    left: 360px;
    top: 15px;
}

#headerMenu {
    display: flex;
    position: absolute;
    left: 686px;
    top: 12px;
}
.menu {
    list-style: none;
    margin-left: 20px;
}