/** faundation **/
body {
  list-style: none;
  font-family: "Noto sans JP";
  font-weight: 600;
  font-size: 12px;
  color: #384459;
}

a {
  text-decoration: none;
}

.box {
  width: 343px;
  height: 11.54px;
  background: #111;
}

.cross {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 2px;
  background: linear-gradient(90deg, #2ea1aa 0%, #06bc7a 100%);
  transform: rotate(45deg);
  vertical-align: middle;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 110px 50vw 0 50vw;
  border-color: #f1f7f8 transparent transparent transparent;
}

.cross::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #2ea1aa 0%, #06bc7a 100%);
  transform: rotate(90deg);
}

.double-border-box {
  text-align: center;
  background-color: #ffffff;
  position: relative;
  padding: 20px;
  border: 6px solid;
  border-image: linear-gradient(to right, #2ea1aa 0%, #06bc7a 100%);
  border-image-slice: 1;
  border-radius: 16px;
}

.double-border-box::after {
  content: "";
  background-color: #ffffff;
  border: 6px solid;
  border-image: linear-gradient(to right, #2ea1aa 0%, #06bc7a 100%);
  border-image-slice: 1;
  position: absolute;
  top: 22px;
  left: 20px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 16px;
}

.border-box {
  position: relative;
  background-color: white;
  border-radius: 13px;
}

.border-box::after {
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  background: linear-gradient(to right, #2ea1aa 0%, #06bc7a 100%);
  content: "";
  z-index: -1;
  border-radius: 16px;
}

.hero01-bg {
  background-image: url(./img/AdobeStock_269542281.png);
  background-size: cover;
}

.hero02-bg {
  background-image: url(./img/hero02_bg.png);
  background-size: cover;
}

.difference01 {
  background-image: url(./img/difference_tmb01.png);
  height: 177px;
  background-size: contain;
}

.difference02 {
  background-image: url(./img/difference_tmb02.png);
  height: 177px;
  background-size: contain;
}

.difference03 {
  background-image: url(./img/difference_tmb03.png);
  height: 177px;
  background-size: contain;
}

.difference04 {
  background-image: url(./img/difference_tmb04.png);
  height: 177px;
  background-size: contain;
}

.difference05 {
  background-image: url(./img/difference_tmb05.png);
  height: 177px;
  background-size: contain;
}

.uservioce-bg {
  background-image: url(./img/uservoice_bg.png);
  background-size: cover;
  z-index: -2;
}

.border {
  border-bottom: 2px solid #007979;
  width: 90%;
}

.border-y {
  border-bottom: 3px solid #f2c94c;
  width: fit-content;
}

.border-g {
  border: 1px solid #e1e1e1;
}

.border-y2 {
  border: 3px solid #fdbb00;
}

/** layout **/
.froat {
  float: left;
}

.clear-both {
  clear: both;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.rotate {
  transform: scale(-1, 1);
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-items: center;
}

.justify-end {
  justify-self: end;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.gap-40 {
  gap: 40px;
}

.gap-36 {
  gap: 36px;
}

.gap-30 {
  gap: 30px;
}

.gap-23 {
  gap: 23px;
}

.gap-16 {
  gap: 16px;
}

.gap-12 {
  gap: 12px;
}

.gap-10 {
  gap: 10px;
}

.gap-9 {
  gap: 9px;
}

.gap-7 {
  gap: 7px;
}

.gap-5 {
  gap: 5px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  padding: 35px 0;
}

.grid2 {
  display: grid;
}

.grid-column {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0 0;
}

.grid-column2 {
  grid-template-columns: auto 1fr;
}

.grid-column-16 {
  grid-column: 1/6;
}

.grid-column-12 {
  grid-column: 1/2;
}

.grid-column-34 {
  grid-column: 5/6;
}

.sympathy_grid-1 {
  grid-row: 1/3;
}
.sympathy_grid-2 {
  grid-row: 2/3;
}

.top-16 {
  top: 16px;
}

.top-20 {
  top: 20px;
}

.top-22 {
  top: 22px;
}

.top--75 {
  top: -75px;
}

.top--50 {
  top: -50px;
}

.top-45 {
  top: 45px;
}

.top-73 {
  top: 73px;
}

.top-100 {
  top: 100px;
}

.top-147 {
  top: 147px;
}

.top-450 {
  top: 450px;
}

.left-50p {
  left: 50%;
}

.right-27 {
  right: 27px;
}

.left-30 {
  left: 30px;
}

.left-13 {
  left: 13px;
}

.centering {
  left: 50%;
  transform: translateX(-50%);
}

.margin-center {
  margin: 0 auto;
}

.right-0 {
  right: 0px;
}

.right--2 {
  right: -10px;
}

.text-center {
  text-align: center;
}

.z-top {
  z-index: 1;
}

.z-end {
  z-index: -1;
}

/** spacing **/
.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.px-47 {
  padding-left: 47px;
  padding-right: 47px;
}

.px-43 {
  padding-left: 43px;
  padding-right: 43px;
}

.px-23 {
  padding-left: 23px;
  padding-right: 23px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-14 {
  padding-left: 14px;
  padding-right: 14px;
}

.py-83 {
  padding-top: 83px;
  padding-bottom: 83px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-22 {
  padding-top: 22px;
  padding-bottom: 22px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-13 {
  padding-top: 13px;
  padding-bottom: 13px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-14 {
  padding-top: 14px;
}

.pt-23 {
  padding-top: 23px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-64 {
  padding-top: 64px;
}

.pt-80 {
  padding-top: 95px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-297 {
  padding-bottom: 297px;
}

.pr-60 {
  padding-right: 15%;
}

.pl-80 {
  padding-left: 80px;
}

.pl-8 {
  padding-left: 8px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-7 {
  margin-bottom: 7px;
}

.mx-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mx-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-width {
  width: 189px;
}

.width-375 {
  width: 375px;
}

.width-343 {
  width: 343px;
}

.width-327 {
  width: 327px;
}

.width-292 {
  width: 292px;
}

.width-284 {
  width: 284px;
}

.width-199 {
  width: 199px;
}

.width-150 {
  width: 150px;
}

.width-96 {
  width: 96px;
}

.width-65 {
  width: 65px;
}

.width-60 {
  width: 60px;
}

.width-45 {
  width: 45px;
}

.width-27 {
  width: 27px;
}

.width-18 {
  width: 18px;
}

.width-95p {
  width: 94%;
}

.width-92p {
  width: 92%;
}

.width-100p {
  width: 100%;
}

.width-90p {
  width: 90%;
}

.width-80p {
  width: 80%;
}

.height-57 {
  height: 57px;
}

.height-166 {
  height: 166px;
}

.height-409 {
  height: 409px;
}

.height-440 {
  height: 440px;
}

.height-727 {
  height: 727px;
}

/** color **/
.bg-primary {
  background-color: #007979;
}

.bg-linear {
  background: linear-gradient(90deg, #2ea1aa 0%, #06bc7a 100%);
}

.bg-color {
  background-color: #f1f7f8;
}

.bg-white {
  background-color: #ffffff;
}

.text-black {
  color: #384459;
}

.text-gray {
  color: #bdbdbd;
}

.text-white {
  color: #ffffff;
}

.text-primary {
  color: #007979;
}

.text-linear {
  color: #acb6e5;
  background: -webkit-linear-gradient(0deg, #2ea1aa, #06bc7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-marker {
  background: linear-gradient(#2ea1aa, #06bc7a);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
}

.text-bar {
  background: linear-gradient(#2ea1aa #06bc7a);
}

.under-bar {
  background: linear-gradient(transparent 70%, #ffffff 70%);
}

.under-bar-y {
  background: linear-gradient(transparent 60%, #f2c94c 60%);
  width: fit-content;
}

.text-nomal {
  font-weight: 500;
}

/** font size **/
.text-10 {
  font-size: 10px;
}

.text-11 {
  font-size: 11px;
}

.text-12 {
  font-size: 12px;
}

.text-13 {
  font-size: 13px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-23 {
  font-size: 23px;
}

.text-24 {
  font-size: 24px;
}

.text-25 {
  font-size: 25px;
}

.text-27 {
  font-size: 27px;
}

.text-32 {
  font-size: 32px;
}

.text-50 {
  font-size: 50px;
}

.btn:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.logo:hover {
  opacity: 0.25;
  transition: 0.5s;
}

.border-radius9 {
  border-radius: 9px;
}

.border-radius15 {
  border-radius: 15.24px;
}

.border-radius {
  border-radius: 2.5px;
}

.box-shadow {
  box-shadow: 0px 2.70108px 13.5054px #ffffff,
    -2.70108px -2.70108px 13.5054px #ffffff;
}
