/** ================= **/
/**  xl: width > 1280px
/** ================= **/
@media screen and (min-width: 1280px) {
  .xl_max-w-1280 {
    max-width: 1280px;
    margin: 0px auto !important;
  }

  /* layout */

  .xl_m-auto {
    margin: 0px auto !important;
  }

  .xl_grid {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-rows: 80px 1fr 1fr;
    padding: 60px 0 130px;
  }

  .xl_hero01-grid {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .xl_hero01-layout {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .xl_btn-layout {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .xl_btn-width {
    width: 260px;
  }

  .xl_width-280 {
    width: 280px;
  }

  .xl_width-85 {
    width: 75px;
  }

  .xl_border-width {
    border-width: 110px 640px 0 640px;
  }

  .xl_hero01-2-layout {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }

  .xl_width-1100 {
    width: 1100px;
  }

  .xl_width-350 {
    width: 350px;
  }

  .xl_width-200 {
    width: 200px;
  }

  .xl_width-120 {
    width: 120px;
  }

  .xl_top-100 {
    top: 140px;
  }

  .xl_right-5 {
    right: 5px;
  }

  .xl_block {
    display: block;
  }

  /* spacing */

  .xl_py5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .xl_py10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .xl_py20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .xl_py0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .xl_px80 {
    padding-right: 80px;
    padding-left: 80px;
  }

  .xl_px100 {
    padding-right: 100px;
    padding-left: 100px;
  }

  .xl_pb40 {
    padding-bottom: 40px;
  }

  .xl_ml-150 {
    margin-left: 150px;
  }

  .xl_my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* font size */

  .xl_text-15 {
    font-size: 15px;
  }

  .xl_text-18 {
    font-size: 18px;
  }

  .xl_text-20 {
    font-size: 20px;
  }

  .xl_text-23 {
    font-size: 23px;
  }

  .xl_text-24 {
    font-size: 24px;
  }

  .xl_text-32 {
    font-size: 32px;
  }

  .xl_text-44 {
    font-size: 44px;
  }

  .xl_cross-size {
    width: 20px;
    height: 4px;
  }
}
